*.class

# Package Files #
*.war
*.ear

# IDEA Files #
*.iml
/.idea
*.ipr
*.iws

# Gradle #
/.gradle
/build
/libs
/eclipse
/out
/gradle
/bin
/run

# Eclipse Files #
/.settings
/.project
/.classpath
/.metadata
